$blue-default: #0a3697;
$blue-dark: #093187;
$white-default: #fafafa;
$black-default: #202020;
$green-default: #66E86B;
$green-dark: #53d257;
$orange-default: #e8bd5a;
$orange-dark: #d4ab4a;
$red-default: #EB1C1C;
$red-dark: #d61a1a;