@import "./colors";
@import "./breakpoints";

.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;

  input[type="submit"] {
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: $green-default;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    margin-top: 1em;
    transition: all .1s;

    &:hover {
      background-color: $green-dark;
    }
  }

  p {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 1em;

    a {
      color: $blue-default;
      font-weight: 600;
    }
  }
}