@import "styles/colors";

.noPlayers {
  width: 100%;
  min-height: 40vh;
  margin: 2em auto;
  text-align: center;

  span {
    font-size: 1.5em;
    font-weight: 500;
  }

  p {
    font-size: 1.2em;
    margin-top: .5em;

    a {
      font-weight: bold;
      color: $blue-default;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.newPlayer {
  margin-top: 2em;
  width: 100%;
  display: block;
  text-align: left;

  a {
    font-weight: bold;
    color: $blue-default;
    &:hover {
      text-decoration: underline;
    }
  }
}